/*
 * ALLGEMEINE LAYOUTOPTIONEN
 */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;

    background-color: rgb(250, 250, 250);
    color: rgb(83, 91, 94);

    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    box-sizing: border-box;
    height: 100%;
}

header, main {
    padding: 1rem;
}

header {
    box-shadow: 0 4px 2px -2px grey;
    background-color: white;
    margin-bottom: 1em;
}

header h1 {
    margin: 0;
    font-size: 260%;
    color: rgb(145, 204, 229);
}

header h1 span:first-child {
    color: rgb(83, 149, 176);
}

header nav {
    list-style: none;
    display: flex;
    padding: 1em;
    padding-left: 0;
    gap: 2em;
}

header li {
    color: crimson;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

header li:hover {
    text-decoration: underline;
}


/*
 * MAIN
 */
.tile-container {
    display: flex;

    flex-wrap: wrap;
    gap: 2em;
}

.tile {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 20px 10px rgba(0,0,0,.4);

    width: 9em;
    height: 9em;
}

.tile:hover {
    cursor: pointer;
    border: 1px solid grey;
    box-shadow: 10px 20px 10px rgba(0,0,0,.6);
}

#category-all .tile {
    background-color: rgba(255, 255, 200);
}

.tile:first-child {
    background-color: rgba(200, 200, 200) !important;
}


/*
 * TILE content
 */
.tile {
    position: relative;
}

.tile .label {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.tile .icon {
    font-size: 2em;

    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

.tile .number {
    font-size: 2em;
    font-weight: bold;

    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}