/*
 * ALLGEMEINE LAYOUTOPTIONEN
 */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;

    background-color: rgb(250, 250, 250);
    color: rgb(83, 91, 94);

    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    box-sizing: border-box;
    height: 100%;
}

header, main {
    padding: 1rem;
}

header {
    box-shadow: 0 4px 2px -2px grey;
    background-color: white;
    margin-bottom: 1em;
}

header h1 {
    margin: 0;
    font-size: 260%;
    color: rgb(145, 204, 229);
}

header h1 span:first-child {
    color: rgb(83, 149, 176);
}

header nav {
    list-style: none;
    display: flex;
    padding: 1em;
    padding-left: 0;
    gap: 2em;
}

header li {
    color: crimson;
}

header li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tile-list {
    padding: 0;
    display: flex;
}

.tile-list li {
    list-style: none;

    margin: 1em;
    background: white;
    padding: 1em;
    
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    
    box-shadow: 1px 1px 1px grey;
}

.alle {
    background-color: rgb(236, 236, 236);
}